.env
db.sqlite3
.sqlite3
__pycache__/
*.pyc
*.db
NutriAlly/__pycache__/__init__.cpython-313.pyc
NutriAlly/__pycache__/settings.cpython-313.pyc
main/__pycache__/__init__.cpython-313.pyc
main/__pycache__/ai.cpython-313.pyc
main/__pycache__/apps.cpython-313.pyc
main/__pycache__/models.cpython-313.pyc
main/__pycache__/signals.cpython-313.pyc
main/__pycache__/views.cpython-313.pyc
.env
db.sqlite3
*.sqlite3
.vscode/
.idea/
health_ai_memory.db
